
.topsel {  margin:0 auto; font-size: 14px; height: 34px; line-height: 34px;}
.sel-depart { float: left; width: 250px; margin-right: 10px;}
.sel-depart select { margin-left: 10px; width: 150px; display: inline-block; height: 25px; padding: 0 12px;}
.sel-type { float: left; width: 120px;}

.outline-out {  margin: 10px auto; position: relative; display: none; padding-bottom: 20px;}
.outline-out a { color: #fff; background: #dc5c59; text-decoration: none;}
.addlesson { position: absolute; right: 0; top: -40px; height: 30px; line-height: 30px;  width: 80px; font-size: 14px; text-align: center; border-radius: 4px; }

.outline-out-top { background: #e2e2e4;border-bottom: 1px solid #ccc; font-weight: bold; } 
.outline-out-list li:nth-child(even) { background: #e1f0fa; }

.outline-out-top div,.outline-out-list li div {height: 36px; line-height: 36px;  float: left;text-align: center;font-size: 14px;  overflow: hidden; }
.outline-out-list li div {border: 1px solid #ccc; border-left: none; border-top: none;}

.tbody a { padding: 2px 16px; background: #999; color: #fff; text-decoration: none; border-radius: 4px;}
.tbody a.edit { background: green;}
.tbody a.view { background: #dc5c59;}
.tbody a.write { background: green;}
			
.outline-in { margin: 10px auto; display: none; }

.outline-out-list li .bl{ border-left: 1px solid #ccc;}
.outline-out-list li .w210 { border-left: 1px solid #ccc;}







